<div 
	class="searchable-list"
	click-outside
	(clickOutside)="active = false">

  <div class="form-group">
		<input 
		class="form-control" 
		placeholder="Search..." 
		(keydown)="onKeydown($event)"
		(focus)="active = true"
		(blur)="active = false"
		#input>
  </div>

	<section
	*ngIf="active"
	class="list-group"
	>
		<app-list-item 
		*ngFor="let item of data | filter: filteredField : input.value; index as index" 
		[item]="item"
		[filteredField]="filteredField"
		class="list-group__item"
		(customClick)="handleCustomClick($event);">
      {{item[filteredField] }}
    </app-list-item>
  </section>

  <p style="margin-top: 1em" *ngIf="model">Model: {{ model }}</p>

</div>
